html {
    height: 100%;
}

.main-bg {
    background: url('/media/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.bg-white {
    background-color: #fff !important;
    border-color: #1f3a1e;
}

 /* Navbar */

.navbar-logo {
    font-size: 1.7rem;
    font-weight: 500;
    color: #1f3a1e;
    text-decoration: none;
}

.navbar-logo:hover {
    color:#52a84f;
    transition: all 0.3s linear;
}

#homehover, #bloghover, #contacthover, #loginhover, #signuphover, #logouthover {
    color: #1f3a1e;
    text-decoration: none;
}

#homehover:hover, #bloghover:hover, #contacthover:hover,
#loginhover:hover, #signuphover:hover, #logouthover:hover {
    color:#52a84f;
    transition: all 0.3s linear;
}

.navbar {
    border-bottom-style: inset;
}

 /* Welcome text on index.html */

#about {
    padding-top: 170px;
    padding-left: 70px;
}

.information-text {
    color: #1f3a1e;
}

#content-link {
    text-align: center;
    padding-bottom: 30px;
    width: auto;
    padding-top: 30px;
    list-style-type: none;
    text-decoration: none;
}
.content-link {
    text-decoration: none;
    list-style-type: none;
    color:#1f3a1e;
    transition: all 0.3s linear;
    font-size: 17px;
}

.content-link:hover {
    color:#52a84f;
    transition: all 0.3s linear;
}

/* Blog posts on post.html */

.writer {
    color: #1f3a1e;
    margin: 4px;
    text-transform: uppercase;
}

.writer-info {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #d6f2da;
}

.image-container {
    position: relative;
}

.card {
    border: #1f3a1e ;
    background-color: transparent;
}

.card-title {
    margin-bottom: 15px;
    color:#1f3a1e
}

#change-page {
    list-style-type: none;
}
.page-change {
    color: #1f3a1e;
    text-decoration: none;
    font-size: 20px;
}

/* Blog posts-details in details.html */ 

.post-content {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.post-content-text {
    background-color: #1f3a1e;;
    color: white;
    position: relative;
    text-align: center;
    padding-top: 67px;
}

.post-content-image {
    position: relative;
    overflow: hidden;
}

.post-content-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #1f3a1e;
    z-index: 100;
}

.blog-image {
    width: 100%;
}

.postLink {
    text-decoration: none;
}


.btn-signup {
    border: #1f1e1e;
}

/* like-button */

.like-button {
    color: #f50000;
    background: transparent;
    border: none;
}

.like-button:hover,
.like-button:active {
    color: #f50000;
    background: transparent;
    border: none;

}

/* contact.html with contact-from */

#contact {
    padding-top: 170px;
    padding-left: 70px;
}

.form-btn {
    margin-top: 10px;
}

/* Footer */

footer {
    border-top-style: outset;
}
.follow {
    color: #1f3a1e
}

.fa-brands {
    color: #1f3a1e;
}

.fa-brands:hover {
    color:#52a84f;
    transition: all 0.3s linear;
}