html {
    height: 100%;
}

.main-bg {
    background: url('/static/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.navbar-logo {
    font-size: 1.7rem;
    font-weight: 500;
    color: #1f3a1e;
    text-decoration: none;
}

.navbar-logo:hover {
    color:#52a84f;
    transition: all 0.3s linear;
}

.navbar {
    border: #555;
}

#about {
    padding-top: 170px;
    padding-left: 70px;
}

.welcome {
    color: #1f3a1e;
}

#content-link {
    text-align: center;
    padding-bottom: 30px;
    width: auto;
    padding-top: 30px;
    list-style-type: none;
    text-decoration: none;
}
.content-link {
    text-decoration: none;
    list-style-type: none;
    color:#1f3a1e;
    transition: all 0.3s linear;
    font-size: 17px;
}

.writer {
    color: #1f1e1e;
    margin: 4px;
    text-transform: uppercase;
}

.writer-info {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #d6f2da;
}

.image-container {
    position: relative;
}

.card {
    border: #1f3a1e ;
    background-color: transparent;
}


.page-change:hover {
    color: #E84610;
}

.post-content {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.post-content-text {
    background-color: #1f3a1e;;
    color: white;
    position: relative;
    text-align: center;
    padding-top: 67px;
}

.post-content-image {
    position: relative;
    overflow: hidden;
}

.post-content-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #1f3a1e;
    z-index: 100;
}

.postLink {
    text-decoration: none;
}

.card-title {
    margin-bottom: 15px;
    color:#1f1e1e
}

.btn-signup {
    border: #1f1e1e;
}

.like-button {
    color: #f50000;
    background: transparent;
    border: none;
}

.like-button:hover,
.like-button:active {
    color: #f50000;
    background: transparent;
    border: none;

}
/* Footer */
.follow {
    color: #1f3a1e
}

.follow a:hover {
    color:#52a84f;
    transition: all 0.3s linear;
 }

#social-networks {
    justify-content: space-evenly;
    list-style-type: none;
    display: flex;
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    font-size: 23px;
    transition: all 0.3s linear;
    padding-top: 15px;
}