{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in viewList %}
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="image-container">
                                    {% if "placeholder" in post.chosen_image.url %}
                                    <img src="/media/blog.jpg" alt="Image of blocks spelling the word Blog" class="card-img-top">
                                    {% else %}
                                    <img src="{{ post.chosen_image.url }}" alt="" class="card-img-top">
                                    {% endif %}
                                    <div class="image-flash">
                                        <p class="writer">Writer: {{ post.writer }}</p>
                                    </div>
                                </div>
                                <a href="#" class="postLink">
                                    <h2 class="card-title">{{ post.title }}</h2>
                                    <p class="card-text">{{ post.excerpt }}</p>
                                </a>
                                <p class="card-text h5">{{ post.created }}
                                    <i class="fa-solid fa-heart" style="color: #f50000;"></i>{{ post.likes }}
                                </p>
                            </div>
                        </div>
                    </div>

                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page Navigation">
        <ul class="justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-change">&laquo; Previous</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-change">Next &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}